/* Основний світлий колір фону #FFFFFF */
/* Темний колір фону футера #2F303A */
/* Основний колір тексту #212121 */
/* Додатковий колір тексту #757575 */
/* 1 Акцентний колір синій #2196F3 */
/* 2 Акцентний колір (лого) #000000 */
/* Колір фільтер кнопок #F5F4FA */

/* ОСНОВНІ */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-logo-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-btn-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --text-link-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* CONTAINERS POSITIONS */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.site-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: auto;
  padding-inline-start: 0px;
}
.header-mail-tel {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-inline-start: 0px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-basis: 281px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.link-mail-tel {
  margin-left: 50px;
}

.site-nav {
  margin-left: 93px;
}
/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-second-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-logo-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-footer-second-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

/* КНОПКИ */
.button {
  cursor: pointer;
  border-width: 0ch;
}
.button.primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  width: 125px;
  height: 38px;
  cursor: pointer;
}
.button.secondary {
  margin-right: 8px;
  border-radius: 4px;
  width: 125px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background: var(--secondary-btn-color);
  color: var(--primary-text-color);
}

.button.secondary:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  width: 125px;
  height: 38px;
}

/* НАВІШАЦІЯ ПО САЙТУ В ШАПЦІ */

.site-nav .link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* ПОСИЛАННЯ */
.mail-tel {
  line-height: 1.7;
  display: flex;
  padding-inline-start: 0px;
  margin-top: 20px;
  flex-direction: column;
}
.link-mail-tel,
.header-mail-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.link-mail-address {
  font-style: normal;
  line-height: 1.7;
  color: var(--primary-white-color);
  margin-bottom: 9px;
}
.header-mail-tel a:hover {
  color: var(--accent-color);
}
.mail-tel a:hover {
  color: var(--accent-color);
}
.footer-address {
  color: var(--primary-white-color);
}
.link-mail-tel-footer {
  font-style: normal;
  color: var(--text-link-footer-color);
}

a {
  text-decoration: none;
}

/* СЕКЦІЯ ГЕРОЙ */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  width: 216px;
  height: 50px;
  background-color: var(--secondary-btn-color);
  border-radius: 4px;
  border-width: 0ch;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
/* СПИСКИ */
ul {
  list-style: none;
  padding: 0;
}

/* АБЗАЦ */
.features {
  width: 1170px;
  height: 98px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 94px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.features-item {
  width: 270px;
  height: auto;
  text-align: start;
  justify-content: flex-start;
}
.features-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  line-height: 1.5;
}
p {
  line-height: 1.87;
  color: var(--title-text-color);
}

/* СЕКЦІЯ FILTER */

.filter {
  display: flex;
  justify-content: center;
  margin: 94px auto 50px;
}
.filter:last-child {
  margin-right: 0;
}
.portfolio {
  width: 1170px;
  height: 1360px;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
}
/* СЕКЦІЯ РОБОТИ */
.works {
  width: 1170px;
  height: 1272px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.works-item {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.works-type {
  font-size: 16px;
  margin-top: 4px;
  margin-left: 24px;
}
.works-name {
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0px;
  margin-right: auto;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.works-name:hover {
}
.work {
  width: 1170px;
  height: 386px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 94px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}
.work-pictures {
  width: 1170px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* КОМАНДА */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-btn-color);
}
.team-card-list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  text-align: center;
}
.team-title {
  text-align: center;
}
.team-member {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}
.team-member-position {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
}

/* ФУТЕР */
.footer {
  padding: 60px 0;
  background: var(--background-footer-color);
}

/* ПОЗИЦІОНУВАННЯ */
.hero {
  background: var(--background-footer-color);
  width: 1600px;
  height: 600px;
}
